#habit{
    
    #header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;

        // Project name
        #title{
            display: flex;
            flex-direction: row;
            align-items: center;

            img{
                margin-left: 10px;
            }
        }

        // Home button
        #back_home{
            border: 1px solid green;
            padding: 10px 20px;
            border-radius: 5px;
            background-color: #85B24D;
            cursor: pointer;
            
            a{
                text-decoration: none;
                color: white;
            }
        }
    }

    // date container - Date picker
    #date_container{
        border-bottom: 2px solid black;
        width: 60%;
        margin: 20px auto 0;
        padding: 15px 10px;

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
        .date_picker{
            width: 175px;
            height: 25px;
        }

        // search button
        button{
            width: 10%;
            background-color: #4AB2F1;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    }

    // identifier
    #key{
        text-align: center;
        margin-top: 5px;

        #unmarked{
            color: gray;
        }

        #done{
            color: green;
        }

        #not_done{
            color: red;
        }
    }

    // all dates container
    #habit_container{
        width: 50%;
        margin: 30px auto 0;

        #item_list{
            width: 90%;
            height: 450px;
            margin: 0 auto;
            overflow-y: scroll;

            border: 1px solid purple;
            border-radius: 5px;

            .list_item{
                width: 85%;
                list-style: none;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 5px;
                margin: 10px auto;
                align-items: center;
    
    
                cursor: pointer;
                border-radius: 5px;
    
                .date_div{
                    font-size: 25px;
                }
    
                .status{
                    font-size: 18px;
                }
            }
        }
    }
}