<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habit Tracker</title>

    <!-- Font awesome -->
    <link 
        rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" 
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" 
        crossorigin="anonymous" 
        referrerpolicy="no-referrer" 
    />

    <link rel="stylesheet" href="/css/layout.css">
    <%- style %>
</head>
<body>
    <main>
        <div id="content">
            <%- body %>
        </div>

        <!-- Footer -->
        <div id="footer">
            <div>Created By: &#169;	Er.Narendra singh </div>
            <div id="contri"><a href="#" target="_blank">Contribute here</a></div>
        </div>
    </main>

    <%- script %>
</body>
</html>