body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: #DAE2F8;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #D6A4A4, #DAE2F8);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #D6A4A4, #DAE2F8);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body main #footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: row;
  padding: 5px;
}

body main #footer #contri {
  position: fixed;
  right: 5px;
  bottom: 5px;
}

body main #footer #contri a {
  text-decoration: none;
  color: black;
}
